:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --hover-text-color: #2196f3;
  --main-background-color: #e5e5e5;
  --hero-title-color: #ffffff;
  --footer-color: #ffffff;
  --border-color: #eeeeee;
  --background-header-color: #ffffff;
  --background-working-color: #e5e5e5;
  --background-color-footer: #2f303a;
  --bgc-logo: #f5f4fa;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Raleway 700
Roboto 400 500 700 900 */
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin-700.eot");
  src: local(""), url("../fonts/raleway/raleway-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin-700.svg#Raleway") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.mardgin-reset {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  /*display: inline-block;*/
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 477px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-none {
    display: none;
  }
}

/*logo*/
.logo {
  color: var(--second-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
  }
}

.logo:focus {
  color: var(--second-text-color);
}

.logo-web {
  color: var(--hover-text-color);
}

.mobile-menu-btn {
  display: block;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn:hover .menu-close,
.mobile-menu-btn:hover .menu-open {
  fill: var(--hover-text-color);
}

.mobile-menu-btn:focus .menu-close,
.mobile-menu-btn:focus .menu-open {
  fill: var(--hover-text-color);
}

.menu-close {
  display: none;
  margin: 10px;
}

.menu-open {
  width: 24px;
}

.mobile-menu-btn.is--open .menu-open {
  display: none;
}

.mobile-menu-btn.is--open .menu-close {
  display: block;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  max-width: 480px;
  background-color: var(--background-header-color);
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid #ececec;
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is--open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-list,
.contacts-mobile-list {
  padding: 0;
  margin: 0;
  text-align: center;
}

.contacts-mobile-list {
  margin-top: 60px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.contacts-menu-item {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
}

.contacts-menu-item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-menu-link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--hover-text-color);
}

.mobile-menu-link.current {
  color: var(--hover-text-color);
}

/*contacts*/
.contacts {
  padding: 0;
  margin-left: 54px;
  background-color: inherit;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.contacts .item {
  display: inline-flex;
  font-size: 12px;
  line-height: 1.14;
  align-items: line;
}

@media screen and (min-width: 1200px) {
  .contacts .item + .item {
    margin-left: 30px;
    font-size: 14px;
  }
}

.mail {
  display: inline-flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.mail:hover, .mail:focus {
  color: var(--hover-text-color);
  transition: color var(--transition-duration);
}

.phone {
  display: inline-flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.phone:hover, .phone:focus {
  color: var(--hover-text-color);
  transition: color var(--transition-duration);
}

.icon-mail {
  display: flex;
  fill: var(--main-text-color);
  padding-left: 0px;
  margin-right: 10px;
}

.mail:hover .icon-mail,
.mail:focus .icon-mail {
  fill: var(--hover-text-color);
}

.icon-smartphone {
  display: flex;
  fill: var(--main-text-color);
  padding-left: 0px;
  margin-right: 10px;
}

.phone:hover .icon-smartphone,
.phone:focus .icon-smartphone {
  fill: var(--hover-text-color);
}

/* modal-window */
.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-duration: 1s;
  transition-timing-function: var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
  transition-duration: 1s;
  transition-timing-function: var(--transition-duration) var(--transition-timing-function);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-timing-function: var(--transition-duration) var(--transition-timing-function);
  padding: 40px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-header-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
}

.modal-name {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.close-button {
  display: block;
  height: 11px;
  width: 11px;
  padding: 0;
  fill: black;
}

.modal-button:hover .close-button {
  fill: var(--hover-text-color);
}

.form-field {
  position: relative;
}

.form-input {
  font: inherit;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
}

.form-input:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-input {
  position: absolute;
  display: block;
  bottom: 0;
  transform: translateY(-25%);
  margin-left: 15px;
  fill: #212121;
}

.form-input:focus ~ .icon-input {
  fill: var(--hover-text-color);
}

.form-textarea {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 120px;
  resize: none;
  margin: 0;
}

.form-field textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  transform: var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 1200px) {
  .modal-checkbox {
    font-size: 14px;
    line-height: 1.75;
    margin-left: 14px;
  }
}

.modal-checkbox a {
  color: var(--hover-text-color);
  margin-left: 5px;
}

.checkbox {
  position: absolute;
}

.icon-checkbox {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox:checked + .icon-checkbox {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--hover-text-color);
  background-color: var(--hover-text-color);
}

.send-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  color: var(--hero-title-color);
  background-color: var(--hover-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color var(--transition-duration), background-color var(--transition-timing-function);
}

.form-mobile {
  position: relative;
}

@media screen and (max-width: 767px) {
  .form-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-mobile {
    display: flex;
  }
}

.join-input {
  height: 50px;
  padding-left: 16px;
  margin-right: auto;
  background-color: var(--background-color-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  overflow: border var(--hover-text-color);
}

@media screen and (max-width: 767px) {
  .join-input {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .join-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .join-input {
    width: 358px;
    margin-right: 12px;
  }
}

.join-button {
  position: relative;
  display: block;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  fill: var(--transition-duration) var(--transition-timing-function);
  min-width: 200px;
  border-radius: 4px;
  border: 0px;
  color: var(--hero-title-color);
  background-color: var(--hover-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color var(--transition-duration), background-color var(--transition-timing-function);
}

@media screen and (min-width: 1200px) {
  .join-button {
    position: absolute;
    right: 0;
    transform: translateX(100%);
  }
}

.icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--footer-color);
}

/*header*/
.header {
  position: relative;
  background-color: var(--background-header-color);
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  align-items: center;
}

/*site-nav*/
.list {
  list-style: none;
  padding-left: 0;
}

.site-nav {
  display: flex;
  padding: 0;
  margin-left: 93px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
}

.site-nav .item {
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  color: var(--second-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-text-color);
}

.site-nav .link.current {
  color: var(--hover-text-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--hover-text-color);
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
}

/*hero*/
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/mobile/mobile/Hero.jpg);
    background-size: 480px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/mobile/mobile/Hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/tablet/tablet/Hero.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/tablet/tablet/Hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/hero.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.8)), url(../../images/desktop/hero@2x.jpg);
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.65;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  color: var(--hero-title-color);
  background-color: var(--hover-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color var(--transition-duration), background-color var(--transition-timing-function);
}

.hero:hover,
.hero:focus {
  background-color: var(--background-header-color);
  color: var(--hover-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.38;
  }
}

/*working*/
.working {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-header-color);
}

@media screen and (min-width: 1200px) {
  .working {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    flex-wrap: nowrap;
    margin-bottom: 94px;
  }
}

.container > .img {
  margin-bottom: 0;
}

.work .item {
  max-width: 450px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.03em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .work .item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .work .item {
    width: 270px;
    line-height: 1.71;
  }
}

.work .item + .item {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .work .item + .item {
    margin-left: 30px;
  }
}

.img .item {
  position: relative;
}

.img-item-name {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  /* padding-left: 82px; */
  max-width: 370px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.small-title {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .small-title {
    text-align: left;
  }
}

.icon-group {
  display: block;
}

.small-title::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--bgc-logo);
  border-radius: 4px;
  background-size: 62.32px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.ikon-group::before {
  background-image: url(../images/Group.svg);
}

.ikon-clock::before {
  background-image: url(../images/clock1.svg);
}

.ikon-diagram::before {
  background-image: url(..//images/diagram1.svg);
}

.ikon-astronaut::before {
  background-image: url(../images/astronaut1.svg);
}

.work-title {
  margin-bottom: 50px;
}

.img {
  display: none;
  margin-top: 0px;
}

@media screen and (min-width: 1200px) {
  .img {
    display: flex;
  }
}

.img .item + .item {
  margin-left: 30px;
}

/*workers*/
.comand {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .comand {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.workers {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--bgc-logo);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .workers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.workers-team {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .workers-team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .workers-team {
    flex-wrap: nowrap;
    margin-bottom: 94px;
  }
}

.workers-list {
  margin-bottom: 30px;
  max-width: 450px;
  max-height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-header-color);
}

@media screen and (min-width: 768px) {
  .workers-list {
    margin-bottom: 0;
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.workers-list p {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  line-height: 1.22;
}

.name-title {
  margin-top: 30px;
  color: var(--second-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.social-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: var(--background-header-color);
  transition: color var(--transition-duration), background-color var(--transition-duration) var(--transition-timing-function);
}

.social .item + .item {
  margin-left: 10px;
}

.social .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icon:hover, .social-icon:focus {
  background-color: var(--hover-text-color);
}

.social-icon:hover .social-icon-item,
.social-icon:focus .social-icon-item {
  fill: var(--background-header-color);
}

.clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-header-color);
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients h2 {
  margin-bottom: 30px;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  margin-left: -30px;
  padding: 0;
}

.link-item {
  width: 100%;
  width: 210px;
  margin-left: 30px;
  margin-top: 30px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .link-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .link-item {
    width: 170px;
  }
}

.link-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #afb1b8;
  height: 90px;
  fill: inherit;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-logo {
  display: flex;
  padding: 0;
  border: 0;
  width: 44.27px;
  height: 49.23px;
  fill: #afb1b8;
}

.link-item-logo:hover,
.link-item-logo:focus {
  border-color: var(--hover-text-color);
}

.link-item-logo:hover .icon-logo,
.link-item-logo:focus .icon-logo {
  fill: var(--hover-text-color);
  border-color: var(--hover-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function) border-color var(--transition-duration) var(--transition-timing-function);
}

/*footer*/
.contact {
  background-color: var(--background-color-footer);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.5;
  background-color: var(--background-color-footer);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-wrap: nowrap;
  }
}

.list.mobile {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list.mobile {
    margin-left: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .list.mobile {
    text-align: left;
  }
}

.logo-white {
  display: block;
  color: var(--footer-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  display: block;
  padding-top: 20px;
  color: var(--footer-color);
  font-family: Roboto;
  font-size: 14px;
}

.footer-mail,
.footer-phone {
  margin-top: 8px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  .footer-mail,
  .footer-phone {
    margin-top: 9px;
  }
}

.footer ul {
  margin-top: 0;
  margin-bottom: 0;
}

.join {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .join {
    margin-left: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.text-footer {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .text-footer {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .text-footer {
    margin-top: 12px;
    text-align: left;
  }
}

.join ul {
  padding: 0;
}

.join-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.join-icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.join-icon:hover, .join-icon:focus {
  background-color: var(--hover-text-color);
}

.join-list .item + .item {
  margin-left: 10px;
}

.join-list .join-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--background-header-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join.input p {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join.input {
    margin-left: 102px;
  }
}

/*portfolio*/
.head {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .head {
    display: flex;
    margin-bottom: 50px;
  }
}

.head > .item {
  display: inline-block;
}

/*portfolio*/
.main {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-header-color);
}

@media screen and (min-width: 1200px) {
  .main {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.main-button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--hero-title-color);
  background-color: var(--hover-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.head .item + .item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .head .item:first-child {
    margin-bottom: 8px;
  }
}

.head .link {
  color: var(--second-text-color);
  background-color: var(--bgc-logo);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.head .link:hover, .head .link:focus {
  color: var(--footer-color);
  background-color: var(--hover-text-color);
}

.description {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.description .example {
  margin-bottom: 4px;
}

.category {
  line-height: 1.87;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio.list {
    margin-left: -30px;
  }
}

.portfolio .item:hover,
.portfolio .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.example {
  color: var(--second-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.list {
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.list-item {
  display: block;
  border: 1px solid;
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 768px) {
  .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.overlay-img {
  position: relative;
  height: 294px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translatey(100%);
  display: block;
  width: 100%;
  height: 294px;
  margin: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio .item:hover .overlay,
.portfolio .item:focus .overlay {
  opacity: 1;
  transform: translatey(0);
  transition: transform var(--transition-duration) ease;
  transition-timing-function: var(--transition-timing-function);
}
/*# sourceMappingURL=main.css.map */