.join.input {
  margin-left: 102px;
}

.join-input {
  margin-right: 12px;
  background-color: var(--background-color-footer);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  overflow: border var(--hover-text-color);
}
.join-button {
  position: absolute;
  height: 50px;
  // width: 200px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  fill: var(--transition-duration) var(--transition-timing-function);

  display: inline-block;
  min-width: 200px;

  border-radius: 4px;
  border: 0px;

  color: var(--hero-title-color);
  background-color: var(--hover-text-color);

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: color var(--transition-duration),
    background-color var(--transition-timing-function);
}

.icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--footer-color);

  // .hero-button:hover &,
  // .hero-button:focus & {
  //   fill: var(--hover-text-color);
  // }
}
