html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // border: 2px solid tomato;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.mardgin-reset {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  /*display: inline-block;*/
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  @media screen and (max-width: 477px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .mobile-none {
    display: none;
  }
}
