:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --hover-text-color: #2196f3;
  --main-background-color: #e5e5e5;
  --hero-title-color: #ffffff;
  --footer-color: #ffffff;
  --border-color: #eeeeee;

  --background-header-color: #ffffff;
  --background-working-color: #e5e5e5;
  --background-color-footer: #2f303a;
  --bgc-logo: #f5f4fa;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
