// clients
.clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-header-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients h2 {
  // margin-bottom: 30px;
}

.link-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  margin-left: -30px;
  // margin-top: -30px;

  padding: 0;
}
.link-item {
  width: 100%;
  // width: 210px;

  margin-left: 30px;
  margin-top: 30px;

  padding: 0;

  // flex-basis: calc(100% / 2 - 30px);
  @media screen and (max-width: 767px) {
    max-width: 210px;
    width: calc((100% - 4 * 15px) / 2);
    // width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.link-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: #afb1b8;

  height: 90px;
  fill: inherit;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icon-logo {
  display: flex;
  padding: 0;
  border: 0;

  width: 44.27px;
  height: 49.23px;

  fill: #afb1b8;
}
.link-item-logo:hover,
.link-item-logo:focus {
  border-color: var(--hover-text-color);
}
.link-item-logo:hover .icon-logo,
.link-item-logo:focus .icon-logo {
  fill: var(--hover-text-color);
  border-color: var(--hover-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function)
      border-color var(--transition-duration) var(--transition-timing-function);
}
